body{
    background-color: black;
    color: white;
}

#all{
    margin: 5%;
}

textarea {
    font-family: C059, serif;
    background-color: black;
    border: none;
    text-overflow: fade;

    outline: none;
    resize: none;
    color: white;
    text-align: right;

    overflow:hidden;

    position: absolute;
    top: 45%;
    left: 15%;
    width: 25%;
    height: 40px;
    font-size: 40px;

}

#text_area{

    white-space:pre;
    font-family: C059, serif;
    text-overflow: fade;

    border: none;
    margin: 0;
    outline: none;
    resize: none;
    color: #969696;
    text-align: left;


    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 40%;
    width: 45%;
    height: 40px;
    font-size: 40px;
}

#stats{
    padding: 7%;
}

.stat{
    margin: 30px;
    float: left;
    font-size: 30px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1a1a1a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1a1a1a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}